.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

app-input-group {
  width: 100%;
}

.address-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.address-group label {
  margin-bottom: 0;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.profile-container {
  display: flex;
  max-width: 1000px;
  margin: auto;
  /* min-height: 100vh; */
  min-height: calc(100vh - 20px);
  align-items: center;
  padding: 80px 0;
}

.left-column {
  flex: 1.5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-column {
  flex: 2;
  padding: 20px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profile-picture {
  margin: auto;
  width: 200px;
  text-align: center;
  display: flex;
  height: 200px;
  background-color: rebeccapurple;
  border-radius: 100%;
  overflow: hidden;
}

.profile-picture,
.basic-info {
  text-align: center;
}

.basic-info h2 {
  margin: 0;
}

.navigation-buttons button {
  white-space: nowrap;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.right-column h2 {
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.uploadStatus {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

.uploadSuccess {
  color: green;
}

.uploadFailed {
  color: red;
}

.uploadPending {
  color: rgb(162, 12, 176);
}

@media screen and (max-width: 768px) {
  .profile-container {
    align-items: normal;
    flex-direction: column;
  }

  .left-column,
  .right-column {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 425px) {
  .left-column,
  .right-column {
    padding: 20px;
  }
}

@media screen and (max-width: 360px) {
  .navigation-buttons {
    flex-direction: column;
  }
}
