.dropdown-container {
  position: relative;
  color: rgb(37, 35, 35);
}

.dropdown-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  background-color: white;
  border: 2px solid #dadce2;
  border-radius: 0.375rem;
  width: 100%;
  transition: all 0.3s;
}

.dropdown-button:focus {
  outline: none;
  border-color: #aeafb1;
}

.dropdown-button-invalid {
  border-color: #dadce2;
}

.dropdown-selected {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}

.dropdown-label {
  font-size: 1rem;
}

.dropdown-arrow {
  transition: all 0.3s;
}

.dropdown-list {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 1rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 13rem;
  overflow-y: auto;
  transition: all 0.3s;
}

.dropdown-search {
  width: 100%;
  height: 3rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

.dropdown-options {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-option {
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.dropdown-option:hover {
  background-color: rgb(204, 199, 199);
}

/* Additional CSS for rotate effect */
.rotate-180 {
  transform: rotate(180deg);
}
