<app-loading></app-loading>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div style="margin-top: 6rem; color: transparent"></div>
<footer
  style="
    padding: 1rem 3rem;
    text-align: center;
    background: #2847bc;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: whitesmoke;
    z-index: 999;
  "
>
  <a
    routerLink="/terms-and-conditions"
    style="color: whitesmoke; font-style: italic"
    >Terms & Conditions</a
  >
  &nbsp;
  <a routerLink="/faq" style="color: whitesmoke; font-style: italic">FAQ</a>
</footer>
