.accordion {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}

.accordion-item {
  border-bottom: 1px solid #e5e7eb;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f3f4f6;
  cursor: pointer;
}

.accordion-header h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
}

.accordion-body {
  overflow: hidden;
}

.accordion-body .faq_answer,
.li {
  background-color: #ffffff;
  margin: 0;
  padding: 1rem;
  line-height: 1.5;
  font-size: 16px;
}

.icon {
  font-size: 1.25rem;
}
