.zg-input-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.zg-input-grp__label {
  color: var(--default-gray-700, #374151);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

.zg-input-grp__input:not([type="date"]):not([type="time"]) {
  display: flex;
}

.card-completed {
  width: 18px;
  display: flex;
  position: relative;
  top: 12px;
  z-index: 1;
  right: -5px;
  background: white;
  border-radius: 100px;
}

.label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

::ng-deep .iti {
  width: 100%;
}

#phone {
  width: 100%;
}

::ng-deep .iti__country-container {
  color: var(--default-gray-500, #6b7280);
}

.light {
  color: var(--default-gray-700, #d6dcec);
}

.dark {
  color: var(--default-gray-700, #474f65);
}

.light {
  color: var(--default-gray-700, #d6dcec);
}

.zg-input-grp__input {
  padding: 0.625rem 0.875rem;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  width: 100%;
  border-radius: 0.5rem;
  border: 1.5px solid var(--Grey-300, #d9dce1);
  color: var(--default-gray-500, #363a43);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.zg-input-grp__input:focus-visible {
  outline: none;
  border-color: var(--color-main);
}

.required {
  color: var(--error);
}

.chkbox-group {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.chkbox-group svg {
  border: 1px solid grey;
  border-radius: 0.25rem;
  transition: all 0.12s linear;
}

.chkbox-group.clicked svg {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.chkbox-group__text {
  margin: 0;
}

.form-error {
  font-size: 12px;
  font-style: italic;
}

.form-error div {
  white-space: nowrap;
}

/* Password styling */
.zg-input-grp__input-pwd {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.lock-icon {
  position: absolute;
  left: 15px;
}

.password-icon {
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.pass {
  width: 100%;
  padding: 0.625rem 2.5rem;
}
/* Password styling */

@media screen and (max-width: 692px) {
  .chkbox-group svg {
    width: 20%;
    max-width: 16px;
  }
}

/* Checkbox Style */
.chkbox-group {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
}

.chkbox-group svg {
  border: 1px solid grey;
  border-radius: 0.25rem;
  transition: all 0.12s linear;
  width: 100%;
  max-width: 20px;
  height: 20px;
}

.chkbox-group.clicked svg {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.chkbox-group__text {
  margin: 0;
}

/* Disabled text */
.disabled {
  background: #80808054;
  color: black;
}
