<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itechnotion.nextgen">
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.itechnotion.nextgen.utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.itechnotion.nextgen.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itechnotion.nextgen.loginsignup.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.home.HomepageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.home.AddressLocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.loginsignup.OTPActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.setting.MyAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.payment.MyWalletActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.payment.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.notification.NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.invitefriend.InviteFrndActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.invitefriend.InviteCodeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.history.RatingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.history.TipsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.history.HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.ride.SelecteRideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.ride.DetailSelecRideActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.ride.PromoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.itechnotion.nextgen.ride.BookingRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.itechnotion.nextgen.ride.BookingCancelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- The API key for Google Maps-based APIs. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>