<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7ede335b-c688-490a-a3e7-7d882ec73ec9/resourcegroups/NextGenSoftwareOASISAPIONodeWebAPI202604301241ResourceGroup/providers/Microsoft.Web/sites/OASISAPIONODE</ResourceId>
    <ResourceGroup>NextGenSoftwareOASISAPIONodeWebAPI202604301241ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/7ede335b-c688-490a-a3e7-7d882ec73ec9/resourceGroups/NextGenSoftwareOASISAPIONodeWebAPI202604301241ResourceGroup/providers/Microsoft.ApiManagement/service/NextGenSoftwareOASISAPIONodeWebAPIapi/apis/NextGenSoftwareOASISAPIONodeWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://oasisapionode-hseudrexdvbhenhv.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a8131b22-06ec-424a-b689-9411c8176be8</ProjectGuid>
    <MSDeployServiceURL>oasisapionode-hseudrexdvbhenhv.scm.canadacentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OASISAPIONODE</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>