<section class="terms-conditions-container">
  <h2>General Terms and Conditions of TIMO</h2>

  <p class="tc-body">
    Whenever a passenger transport is booked using Timo, the following terms and
    conditions shall apply to the provision of passenger transports by the party
    liable to carry out such transport (hereinafter referred to as the
    "PROVIDER" or "PROVIDERS") to the party entitled to utilise the transport
    service (hereinafter referred to as the "USER" or "USERS") and to the
    conclusion of a contract between the PROVIDER and USER regarding such
    service:
  </p>

  <h3 class="tc-articles">Art. 1 Special Booking Details</h3>

  <p class="tc-body">
    The USER is informed that (s)he is required to provide certain booking
    details to the PROVIDER via TIMO, as otherwise the right to refuse transport
    applies. In particular, this includes the following data:
  </p>

  <ul class="tc-list">
    <li class="tc-item">the number of passengers to be transported,</li>
  </ul>

  <h3 class="tc-articles">Art. 2 Arrangement and Transport Procedure</h3>

  <ol class="tc-list">
    <li class="tc-item">
      The USER is required to attend the agreed place at the agreed time after
      receiving the binding booking confirmation.
    </li>

    <li class="tc-item">
      The USER shall identify him/herself by providing individual booking
      details as requested by the taxi driver/private hire driver and shall
      present proof of payment confirmation
    </li>

    <li class="tc-item">
      Any booking changes shall be reported to the PROVIDER via TIMO without
      delay. Additional costs shall be incurred for late rescheduling (see Art.
      4.1).
    </li>

    <li class="tc-item">
      Should the PROVIDER be unable to carry out the trip booked due to events
      of force majeure, the PROVIDER reserves the right to engage a substitute
      driver with an equivalent substitute vehicle to carry out the transport.
      The USER shall be notified thereof by a renewed confirmation text message
      and email.
    </li>
  </ol>

  <h3 class="tc-articles">Art. 3 Prices, Fees and Terms of Payment</h3>

  <ol class="tc-list">
    <li class="tc-item">
      Regarding any fees for transport services rendered by a taxi company, the
      applicable statutory taxi fare regulations shall constitute the
      calculation basis for the fee incurred for the transport service rendered
      by the PROVIDER. The fee in the territory of application of the relevant
      regional taxi fare regulations shall be governed by the amount on the
      taximeter and other surcharges in accordance with the taxi fare
      regulations.
    </li>

    <li class="tc-item">
      As regards any fees for transport services rendered by a private hire
      vehicle company, the PROVIDER, by accepting the transport service on TIMO,
      undertakes to carry out the trip at the price offered there. The price
      stated there is based on the price structure defined by the PROVIDER and
      is a fixed price including any other fees that may be incurred
      (particularly including charges for parking, road tolls, granted waiting
      time etc.).
    </li>

    <li class="tc-item">
      The fixed price shall not cover any costs caused by the USER and incurred
      as a result of route changes prompted by the USER (in particular,
      extending the distance travelled), additional waiting times or any other
      extra costs or services such as additional parking fees, additional
      luggage and 'via' trips (additional collections/stops en route). If a
      booking is changed after the defined time limits, additional costs may be
      incurred (particularly in the event of route changes, 'via' trips and
      changes in pick-up times, see Art. 4.2).
    </li>
  </ol>

  <h3 class="tc-articles">
    Art. 4 Breaches of Transport Contracts and Their Consequences
  </h3>

  <h4 class="tc-sub-articles">
    Art. 4.1 Cancellation and Rescheduling of Trips by USERS
  </h4>

  <ol class="tc-list">
    <li class="tc-item">
      The time limit for cancellation is 3 hours before the scheduled departure
      time for standard bookings. Cancellation is free of charge prior to the
      time limit for cancellation. After the time limit for cancellation has
      passed, the full fare for the booking will be charged in the event of a
      cancellation.
    </li>

    <li class="tc-item">
      The time limit for rescheduling is 3 hours before the scheduled departure
      time for standard bookings. Rescheduling is free of charge prior to the
      time limit for rescheduling. After the time limit for rescheduling has
      passed, the full fare for the booking will be charged in the event of a
      rescheduling.
    </li>

    <li class="tc-item">
      If the booking is rescheduled either before or after the aforesaid time
      limits, the fare may be recalculated and a new PROVIDER may be defined if
      appropriate. This depends on the details of rescheduling and availability
      of the PROVIDER. The USER shall be immediately notified of any changes in
      the rescheduled booking.
    </li>

    <li class="tc-item">
      No extra costs will be charged for any changes in the travel time due to
      the late departure or arrival of a plane, coach, bus or train. The USER
      shall notify the PROVIDER of such delays without delay.
    </li>
  </ol>

  <h4 class="tc-sub-articles">
    Art. 4.2 Late Arrival and Non-attendance of USER
  </h4>

  <ol>
    <li>The USER shall contact the driver if (s)he is late.</li>

    <li>
      The waiting time and non-attendance fees will be charged to the USER in
      accordance with the applicable taxi fare. For example, the taxi base
      charge plus 15 minutes waiting time will be charged as a flat fee in case
      of non-attendance.
    </li>
  </ol>

  <h4 class="tc-sub-articles">Art. 4.3 Exceptional Situations</h4>

  <ol>
    <li>
      If an inevitable event occurs (e.g. the vehicle stops working etc.), the
      PROVIDER reserves the right to use the next best replacement vehicle.
    </li>

    <li>
      In these exceptional situations, the PROVIDER also reserves the right to
      cancel bookings. Any charges already paid shall be refunded in this case.
      No claim for damages and no further claims shall exist.
    </li>
  </ol>

  <h3 class="tc-articles">Art. 5 Liability</h3>

  <ol>
    <li>
      (1) With the exception of liability under the product liability act and
      due to an injury to life, limb or health, the liability of the PROVIDER
      shall be restricted or excluded as follows:
      <br /><br />
      In the event of negligence, the liability of the PROVIDER shall be
      restricted to compensation for the typical foreseeable damage. In the
      event of slight negligence, however, the PROVIDER shall only be liable if
      it has breached any duty whose fulfilment is a precondition for the proper
      performance of the contract and, in particular, for the use of the booking
      platform in a manner that is commercially appropriate with regard to both
      parties' interests, and on whose fulfilment the USER may rely.
    </li>

    <li>
      (2) The aforesaid restrictions shall also apply in favour of the
      PROVIDER's statutory representatives and persons employed by the PROVIDER
      in performing its obligations if any claims are asserted directly against
      it.
    </li>
  </ol>

  <h3 class="tc-articles">Art. 6 Legal Validity</h3>

  <p class="tc-body">
    This document is subject to the South African law and shall be interpreted
    in accordance with the republic of South Africa.
  </p>
</section>
