.terms-conditions-container {
  padding: 100px 3rem 5rem;
  text-align: justify;
}

.terms-conditions-container h2 {
  text-align: center;
  font-size: 30px;
}

.tc-articles {
  font-size: 20px;
  margin-top: 2rem;
}

.tc-sub-articles {
  font-size: 18px;
  margin-top: 1.2rem;
}

.tc-articles,
.tc-sub-articles {
  font-weight: bold;
  margin-bottom: 1rem;
}

.tc-body,
.tc-item {
  margin-bottom: 1rem;
}

.tc-body,
.tc-item {
  font-size: 16px;
}

@media (max-width: 768px) {
  .terms-conditions-container {
    padding: 100px 1rem 4rem;
  }
}
