.app {
  display: flex;
  flex-direction: column;
}

.app__banner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 2rem;
  width: 100%;
  min-height: calc(100vh - 20px);
  height: 100%;
  position: relative;
  color: #ffffff;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/header-bg.jpg");
  background-size: cover; /* or contain */
  background-position: center;
  background-repeat: no-repeat;
}

.app__banner .overlay {
  background-color: rgba(0, 0, 0, 0.67);
}

.app__banner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__banner-nav__logo {
  background-image: url("../../../assets/images/logo.png");
  width: 60px;
  height: 60px;
}

.app__banner-hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 3rem;
  z-index: 2;
}

.app__banner-hero__left-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.app__banner-hero__left-section h3 {
  font-weight: 400;
  text-transform: uppercase;
}

.app__banner-hero__left-section h1 {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
}

.app__banner-hero__left-section h3,
.app__banner-hero__left-section p {
  font-weight: 600;
}

.app__banner-hero__left-section h1 span {
  color: var(--color-alt);
}

.bottom-layer {
  position: absolute;
  bottom: 0;
  background: var(--color-main);
  left: 0;
  right: 0;
  height: 100%;
  max-height: 4vh;
}

@media screen and (max-width: 1024px) {
  .app__banner-hero__left-section h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 941px) {
  .app__banner-hero {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .app__banner-hero__left-section {
    align-items: center;
    text-align: center;
  }

  .app__banner-hero__left-section h3,
  .app__banner-hero__left-section p,
  .app__banner-hero__left-section app-button {
    display: none;
  }

  .app__banner-hero__left-section h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .app__banner-hero {
    padding: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .bottom-layer {
    display: none;
  }

  .app__banner-hero__left-section h1 {
    line-height: 30px;
  }

  .app-ride-form form {
    gap: 1rem;
  }
}
