<section class="app">
  <header class="app__banner">
    <div class="overlay"></div>
    <section class="app__banner-nav global-width"></section>

    <section class="app__banner-hero">
      <section class="app__banner-hero__left-section">
        <h3>there are so many places you could be</h3>

        <h1>MOVE WITH <span>CONFIDENCE</span></h1>

        <p>With so many possibilities, you can book any ride of your choice.</p>
      </section>

      <section class="app__banner-hero__right-section">
        <!-- Ride Schedule Form -->
        <app-ride-form></app-ride-form>
      </section>
    </section>
  </header>
</section>
