.date-form__selection {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: var(--text-color-mid);
  font-weight: 400;
  border-radius: 5px;
}

.date-form__selection-current {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.date-form__selection-current__date-time {
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 0 0.5rem;
  font-size: 1rem;
  background-color: #fff;
  color: var(--text-color-mid);
  border: none;
}

.date-form__selection-current__date-time:active,
.date-form__selection-current__date-time:focus {
  outline: none;
  border: none;
}

.date-form__selection-current__date-time::-webkit-calendar-picker-indicator {
  font-size: 1rem;
}

.date-form__selection-current__icon {
  opacity: 0.7;
}
