<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/7ede335b-c688-490a-a3e7-7d882ec73ec9/resourcegroups/NextGenSoftwareOASISAPIONodeWebAPI202604301241ResourceGroup/providers/Microsoft.ContainerRegistry/registries/NextGenSoftwareOASISSTARWebAPI20260506140005</ContainerResourceId>
    <ContainerResourceName>NextGenSoftwareOASISSTARWebAPI20260506140005</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>nextgensoftwareoasisstarwebapi20260506140005.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>starapi</ContainerName>
    <EnvironmentName>NextGenSoftwareOASISSTARWebAPI-env-20260506134230</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://starapi.kindbay-5a351f1c.canadacentral.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/7ede335b-c688-490a-a3e7-7d882ec73ec9/resourceGroups/NextGenSoftwareOASISAPIONodeWebAPI202604301241ResourceGroup/providers/Microsoft.App/containerApps/starapi</ResourceId>
    <ResourceGroup>NextGenSoftwareOASISAPIONodeWebAPI202604301241ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>