.admin-dashboard {
  padding: 20px;
  padding: 100px 3rem 5rem;
}

.summary-section {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  margin-bottom: 5rem;
  overflow-x: auto;
}

.demarcator {
  margin-top: 1.5rem;
}

.error-text {
  color: red;
  font-weight: bold;
}

.admin-mgt-section {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.admin-mgt-section p {
  margin-bottom: 0.5rem;
}

.withdrawal-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.withdrawal-section__header {
  margin: 0;
}

.filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter {
  font-style: italic;
  color: blue;
  transition: all 0.3s linear;
}

.filter:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .admin-dashboard {
    padding: 100px 1rem 4rem;
  }
}

@media (max-width: 560px) {
  .admin-mgt-section {
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .summary-section {
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .withdrawal-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .withdrawal-section__header {
    margin-bottom: 0.5rem;
  }
}
