<tr>
  <td style="font-family: sans-serif; font-size: 14px; vertical-align: top">
    <div class="social-icons">
      <a href=" https://www.facebook.com/lectie"
        ><img
          src="https://lectie-images.s3.ap-southeast-2.amazonaws.com/uploads/thumbnail_icon-facebook.png"
          class="icons"
          style="margin: 4px"
      /></a>
      <a href="https://www.instagram.com/lectieofficial"
        ><img
          src="https://lectie-images.s3.ap-southeast-2.amazonaws.com/uploads/thumbnail_icon-instagram.png"
          class="icons"
          style="margin: 4px"
      /></a>
      <a href="https://www.linkedin.com/mwlite/company/lectie"
        ><img
          src="https://lectie-images.s3.ap-southeast-2.amazonaws.com/uploads/thumbnail_icon-linkedin.png"
          class="icons"
          style="margin: 4px"
      /></a>
      <a href="https://twitter.com/Lectieofficial"
        ><img
          src="https://lectie-images.s3.ap-southeast-2.amazonaws.com/uploads/thumbnail_icon-twitter.png"
          class="icons"
          style="margin: 4px"
      /></a>
      <a href="https://lectie.app.link"
        ><img
          src="https://lectie-images.s3.ap-southeast-2.amazonaws.com/uploads/thumbnail_icon-link.png"
          class="icons"
          style="margin: 4px"
      /></a>
    </div>
  </td>
</tr>

<tr>
  <td
    align="left"
    style="font-size: 0px; padding: 10px 25px; word-break: break-word"
  >
    <div
      style="
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        color: #525252;
      "
    >
      Best,<br />The Timo Ride Team<br />
    </div>
  </td>
</tr>
